.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  width: 80%;
}

.align-items-center {
  align-items: center;
  display: flex;
}

/* TODO ADD MORE ALIGN OPTIONS */
